@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Sora:wght@400;700&display=swap');
@import url('https://www.telia.lt/_ui/global/fonts/TeliaSans/TeliaSans-Regular.woff2');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: rgb(20 184 166);
}
body {
  font-family: 'TeliaSans', sans-serif;
  font-family: 'TeliaSans', sans-serif;
}
